In [35]:
from sentence_transformers import SentenceTransformer
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import roc_auc_score

In [38]:
data = pd.read_csv('testing_data.csv')

In [39]:
data.head()

,text1,text2,ans
0,Sometimes she wished she were older,Sometimes she wanted to be older,1
1,"Evelyn really likes to eat ice cream, but Harr...",Evelyn loves to eat ice cream and Harry loves ...,0
2,Oscar is a bad student because he doesn't go t...,He is a bad student because he doesn't attend ...,1
3,I actually stopped drawing in university,I actually stopped drawing in high school,0
4,I love peaches and Mary does too. It makes her...,Mary loves peaches. I do too. Peaches make her...,1

In [4]:
model = SentenceTransformer('bert-base-nli-mean-tokens')

In [50]:
def test(data):    
    sim_arr = []
    
    text1 = data.text1
    text2 = data.text2
    
    for i in range(len(data)):
        text1_embed = model.encode([text1[i]])
        text2_embed = model.encode([text2[i]])
        
        sim = cosine_similarity(text1_embed, text2_embed)
        
        sim_arr.append(sim)
    
    return sim_arr

In [51]:
similarity_value = test(data)

In [52]:
output_ans = []

for i in similarity_value:
    value = i.flatten()[0]
    print(value)
    if value >= 0.91:
        output_ans.append(1)
    else:
        output_ans.append(0)

0.92602557
0.7161504
0.9502964
0.90253365
0.9898263
0.8316077
0.7744621
0.83685005
0.24968012
0.692431
0.7163959
0.874859
0.938828
0.9514338

In [53]:
print(output_ans)

[1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1]

In [55]:
print(data.ans)

0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     0
9     1
10    0
11    1
12    1
13    0
Name: ans, dtype: int64

In [56]:
print('roc_auc_score: ', roc_auc_score(data.ans, output_ans))

roc_auc_score:  0.7142857142857144